<header class="site-header">
    <div class="container">
        <div class="logo">
            <!-- Usando icon.png como logo -->
            <img src="/images/site/icon.png" alt="CSE Motors Logo">
            <h1>CSE Motors</h1>
        </div>
    </div>
</header>